{% extends 'base.html' %}

{% block content %}
    <div class="incident">
        {% if incident.published_date %}
            <div class="date">
                {{ incident.published_date }}
            </div>
        {% endif %}
        {% if user.is_authenticated %}
            <a class="btn btn-default" href="{% url 'incident_edit' pk=incident.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
        {% endif %}
        <h1>{{ incident.title }}</h1>
        <p>{{ incident.text|linebreaksbr }}</p>
    </div>
{% endblock %}